.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin-top: -30px;
    padding: 10px auto;
}

.Order {
    background-color: lightgreen;
    color: black;
    border: 1px solid black;
    margin-top: 5px;
    font: inherit;
    padding: 15px;
}

.BuildControls button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}